version: "3.9"

services:
  upload-service:
    build: ./services/upload-service
    image: docprocessingarc.azurecr.io/upload-service:latest
    container_name: upload-service
    ports:
      - "8001:8000"
    environment:
      BLOB_CONN_STRING: "blob-connection-string" # Default, overriden by secret within Azure Container App
      EVENTHUB_CONN: "mock-eventhub"
      EVENTHUB_NAME: "upload-events"

  ml-processing-service:
    build: ./services/ml-processing-service
    image: docprocessingarc.azurecr.io/ml-processing-service:latest
    container_name: ml-processing-service
    ports:
      - "8002:8000"
    environment:
      BLOB_CONN_STRING: "blob-connection-string"
      EVENTHUB_CONN: "mock-eventhub"
      EVENTHUB_NAME: "upload-events"
      FORM_RECOGNIZER_KEY: "mock-key"
      FORM_RECOGNIZER_ENDPOINT: "mock-endpoint"
      COSMOS_CONN: "mock-cosmos"
      COSMOS_KEY: 'mock-cosmos-key'

  results-service:
    build: ./services/results-service
    image: docprocessingarc.azurecr.io/results-service:latest
    container_name: results-service
    ports:
      - "8003:8000"
    environment:
      COSMOS_CONN: "mock-cosmos"

  auth-service:
    build: ./services/auth-service
    image: docprocessingarc.azurecr.io/auth-service:latest
    container_name: auth-service
    ports:
      - "8004:8000"
    environment:
      JWT_SECRET: "dev-secret"
      COSMOS_CONN: "mock-cosmos"
      COSMOS_KEY: 'mock-cosmos-key'

  admin-service:
    build: ./services/admin-service
    image: docprocessingarc.azurecr.io/admin-service:latest
    container_name: admin-service
    ports:
      - "8005:8000"