fastapi
uvicorn
pydantic
azure-eventhub
azure-storage-blob
azure-ai-formrecognizer
azure-ai-translation-text
azure-cosmos
requests
azure-monitor-opentelemetry
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-instrumentation-asgi