fastapi
uvicorn
pydantic
azure-eventhub
azure-storage-blob
azure-ai-formrecognizer
azure-ai-translation-text
azure-cosmos
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
azure-monitor-opentelemetry