passlib
email-validator
azure-cosmos
fastapi
uvicorn
python-jose
pydantic
python-dotenv
azure-monitor-opentelemetry
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-instrumentation-asgi